<html>
    <head>
        <title>Prognoz Attendence Portal</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>
    <link rel="stylesheet" href="css/style.css"></link>
    </head>
    <body>
        <%- include('../partials/header.ejs') -%>
                   <div>
                        <table class="table table-dark table-bordered" id="display">
                            <thead>
                                <tr>
                                    <th>Student Id</th>
                                    <th>Course Name</th>
                                    <th>Batch</th>
                                    <th>Student Firstname</th>
                                    <th>Student Lastname</th>
                                    <th>Email</th>
                                    <th>Contact Number</th>
                                    <th>Address</th>
                                    <th>Gender</th>
                                    <th>Date of Birth</th>
                                    <th>Qualification</th>
                                    <th>Username</th>
                                    <th>Password</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% studs.forEach(function(studentdetails){
                                  %>
                                  <tr>
                                      <td><%= studentdetails.id%></td>
                                      <td><%= studentdetails.course_name%></td>
                                      <td><%= studentdetails.batch%></td>
                                      <td><%= studentdetails.firstname%></td>
                                      <td><%= studentdetails.lastname%></td>
                                      <td><%= studentdetails.email%></td>
                                      <td><%= studentdetails.mobile%></td>
                                      <td><%= studentdetails.address%></td>
                                      <td><%= studentdetails.gender%></td>
                                      <td><%= studentdetails.dob%></td>
                                      <td><%= studentdetails.qualification%></td>
                                      <td><%= studentdetails.username%></td>
                                      <td><%= studentdetails.password%></td>
                                  </tr>
                                <%});
                                %>
                            </tbody>
                        </table>
                    </div>
                </div>
          
    </body>
    </html>